@font-face {
  font-family: "G-Book";
  src: url("../fonts/Gotham-Book/gothambook.woff2") format("woff2"),
    url("../fonts/Gotham-Book/gothambook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* color */
.lightgrey {
  color: #6e6e6e;
}
.mediumgrey {
  color: #4b4b4b;
}

.lightyellow {
  color: #c0bfb5;
}

.lightsilver {
  color: #b5b6c0;
}

.mediumsilver {
  color: #777777;
}

.roundContent {
  border-radius: 10px;
  padding: 20px;
}

body {
  width: 100%;
  margin: 0px auto;
  overflow: auto;
  background: #101010;
  font-family: "stratos";
}

p {
  font-family: stratos-lights, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-18 {
  font: normal normal medium 18px/23px Stratos;
}

.font-54 {
  font: normal normal bold 54px/59px Stratos;
  color: #b2b2b2;
}

.font-26 {
  font: normal normal 400 26px/33px Stratos;
}

.font-38 {
  font: normal normal bold 38px/41px Stratos;
}

.font-22 {
  font: normal normal 400 22px/30px Stratos;
}

.font-20 {
  font: normal normal bold 20px/30px Stratos;
}

.font-79 {
  font: normal normal bold 79px/59px Stratos;
}

.font-51 {
  font: normal normal bold 51px/55px Stratos;
}

@media (max-width: 768px) {
  .top-banner {
    background-image: url("../img/sojo-first.svg");
  }
  .top-banner .banner {
    z-index: -1;
  }
  .top-banner .title {
    color: #6e6e6e;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 30%;
  }

  .main-container {
    padding: 20px;
  }

  .truly {
    background-image: url("../img/sojo-first.png");
    min-height: 870px;
    background-repeat: no-repeat;
  }

  .truly .banner {
    z-index: -1;
  }

  .thc {
    background-image: url("../img/sojo-second.png");
    min-height: 520px;
    background-repeat: no-repeat;
  }

  .middleBanner {
    background-image: url("../img/sojo-third.png");
    min-height: 750px;
    background-repeat: no-repeat;
  }

  .lsbanner {
    background-image: url("../img/sojo-four.png");
    min-height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .last {
    background-image: url("../img/sojo-last.png");
    min-height: 835px;
    background-repeat: no-repeat;
    margin-left: 5px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 576px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1600px) {
}
