@font-face {
  font-family: "G-Book";
  src: url("../fonts/Gotham-Book/gothambook.woff2") format("woff2"),
    url("../fonts/Gotham-Book/gothambook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* color */
.lightgrey {
  color: #6e6e6e;
}
.mediumgrey {
  color: #4b4b4b;
}

.lightyellow {
  color: #c0bfb5;
}

.lightsilver {
  color: #b5b6c0;
}

.mediumsilver {
  color: #777777;
}

.roundContent {
  border-radius: 10px;
  padding: 20px;
}

body {
  width: 100%;
  margin: 0px auto;
  overflow: auto;
  background: black;
}

@media (max-width: 768px) {
  .top-banner {
    background-image: url("../img/topBanner.svg");
  }
  .top-banner .banner {
    z-index: -1;
  }
  .top-banner .title {
    color: #6e6e6e;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .main-container {
    padding: 20px;
  }

  .truly {
    background-image: url("../img/first.png");
    min-height: 870px;
    background-repeat: no-repeat;
  }

  .truly .banner {
    z-index: -1;
  }

  .thc {
    background-image: url("../img/second.png");
    min-height: 870px;
    background-repeat: no-repeat;
  }

  .middleBanner {
    background-image: url("../img/third.png");
    min-height: 750px;
    background-repeat: no-repeat;
  }

  .lsbanner {
    background-image: url("../img/four.png");
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .last {
    background-image: url("../img/last.png");
    min-height: 430px;
    background-repeat: no-repeat;
    margin-left: 5px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 576px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1600px) {
}
